<div class="main">
    <div class="chat" id="chat-index">
        <div class="chat-container">
          <% unless @messages.blank? %>
            <% for message in @messages do %>
                <div class="message-box" data-message-id = <%=message.id %> >
                    <div class="message-left">
                        <p class="message-info">
                            <%= message.user.name %>
                            <span>
                            <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
                            </span>
                        </p>
                        <p class="message-content"><%= message.content %></p>
                    </div>
                    <div class="message-right">
                      <% if message.user_id == current_user.id %>
                        <ul>
                            <li>
                                <%= link_to "edit", edit_message_path(message.id) %>
                            </li>
                            <li>
                                <a href="#" class="delete-btn" data-id=<%= message.id %>>delete</a>
                                <%= form_for(message, url: message_path(message.id), method: :delete, html: { id: "form_#{message.id}", class: "delete-form" }) do |f| %>
                                　<%= f.submit "delete" %>
                                <% end %>
                            </li>
                        </ul>
                      <% end %>
                    </div>
                </div>
            <% end %>
          <% else %>
                <div class="message-box">
                    <p>No message yet.</p>
                </div>
          <% end %>

        </div>
    </div>

    <div class="chat-form">
      <%= form_with model: @message, url: messages_path, id: "new_message" do |f| %>
       <%= f.text_field :content, id: "chat-form" %>
       <%=f.submit "SEND" %>
      <% end %>
    </div>
</div>

<div id="counter"></div>
