<div class="main">
    <div class="chat" id="chat-index">
        <div class="chat-container">
          <% unless @messages.blank? %>
            <% for message in @messages do %>
                <div class="message-box" data-message-id = <%=message.id %> >
                    <div class="message-left">
                        <p class="message-info">
                            <%= message.user.name %>
                             <% if message.reciever_id? %>
                              <p class="userid" data-user-id = <%=@id %>>
                               <%= message.reciever_id %>
                              <p>
                             <% end %>
                            <span>
                            <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
                            </span>
                        </p>
                        <p>
                          <% if message.image? %>
                            <%= image_tag message.image.url,class:"picture" %>
                          <% end %>
                        </p>
                        <p class="message-content" id="js-comment-<%= message.id %>">
                          <%= message.content %>
                        </p>
                        <%= form_with model: @message, class: "edit-form" do |f| %>
                            <%= f.text_area :content, style:"display:none", class: "edit-content", value:message.content, id:"js-textarea-#{message.id}" %>
                            <%= f.submit "UPDATE" ,style:"display:none", class:"update-btn", id:"js-update-#{message.id}" %>
                        <% end %>
                    </div>
                    <div class="message-right">
                      <% if message.user_id == current_user.id %>
                        <ul>
                            <li>
                              <%= link_to "edit", edit_message_path(message.id), class:"edit-btn", remote:true, id:message.id %>
                            </li>
                            <li>
                              <%= link_to "delete", message_path(message.id), class:"delete-btn", method: :delete, remote:true %>
                            </li>
                        </ul>
                      <% end %>
                    </div>
                </div>
            <% end %>
          <% else %>
                <div class="message-box">
                    <p>No message yet.</p>
                </div>
          <% end %>
        </div>
    </div>

    <div class="chat-form">
      <%= form_with model: @message, url: messages_path, id: "new_message" do |f| %>
       <%= f.text_field :content, id: "chat-form" %>
       <%= f.label :image,"画像をアップロード", class: "image-label" %>
       <% if @id %>
        <%= f.hidden_field :reciever_id, value:@id %>
       <% end %>
       <%= f.file_field :image, class:"image-form" %>
       <%=f.submit "SEND" %>
      <% end %>
    </div>
</div>
<div id="partner_name"><div>
<div id="counter"></div>
