<div class="template-main">
    <div class="template-container">
        <div class="title">
        話す相手を選択
        </div>
        <%= form_for(:session, url: select_path) do |f| %>
          <%= f.hidden_field :name, value:"All" %>
          <%= f.submit "All" %>
        <% end %>

        <% for user in @users do %>
         <% unless current_user.id == user.id %>
          <%= form_for(:session, url: select_path) do |f| %>
           <%= f.hidden_field :name, value:user.name  %>
           <%= f.submit user.name %>
          <% end %>
         <% end %>
        <% end %>
    </div>
</div>
